@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 0.375rem;
  border-width: 1px;
  outline-style: none;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #fcfdfe;
}

.form-address {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.375rem;
  border-width: 1px;
  outline-style: none;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #fcfdfe;
}
